<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.dfwx.nest.mapper.ArticleInfoMapper">

    <resultMap id="BaseResultMap" type="top.dfwx.common.entity.ArticleInfo">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="category" column="category" jdbcType="INTEGER"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="summary" column="summary" jdbcType="VARCHAR"/>
            <result property="cover" column="cover" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="createBy" column="create_by" jdbcType="BIGINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateBy" column="update_by" jdbcType="BIGINT"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,category,title,
        content,summary,cover,
        status,create_by,
        create_time,update_by,update_time
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from article_info
        where  id = #{id,jdbcType=BIGINT} 
    </select>
    <select id="selectByPage" resultMap="BaseResultMap">
        select
        ai.id as id,ai.category as category,ai.title as title,
        ai.content as content,ai.summary as summary,ai.cover as cover,
        ai.status as status,ai.create_by as create_by,
        ai.create_time as create_time,ai.update_by as update_by,ai.update_time as update_time
        from article_info ai
        left join article_tags_info ati on ai.id = ati.article_id
        where ai.status = #{status}
        <if test="keyword != null and keyword != ''">
            and (ai.title like concat('%',#{keyword},'%') or ai.content like concat('%',#{keyword},'%') or ai.summary like concat('%',#{keyword},'%'))
        </if>
          <if test="category != null">
              and ai.category = #{category}
          </if>
        <if test="tag != null and tag != ''">
            and ati.tags_code = #{tag}
        </if>
        <if test="year != null">
            and year(ai.create_time) = #{year}
        </if>
        <if test="month != null">
            and month(ai.create_time) = #{month}
        </if>
        group by ai.id
        order by ${order} ${sort}, ai.id desc
    </select>
    <select id="selectCountByStatus" resultType="java.lang.Long">
        select count(1) from article_info where status = #{status}
    </select>
    <select id="selectHistoryCount" resultType="top.dfwx.nest.vo.HistoryListVO">
        select count(1) as number,year(create_time) as year,month(create_time) as month from article_info
        group by year,month
        order by year desc,month desc
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from article_info
        where  id = #{id,jdbcType=BIGINT} 
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="top.dfwx.common.entity.ArticleInfo" useGeneratedKeys="true">
        insert into article_info
        ( id,category,title
        ,content,summary,cover
        ,status,create_by
        ,create_time,update_by,update_time
        )
        values (#{id,jdbcType=BIGINT},#{category,jdbcType=INTEGER},#{title,jdbcType=VARCHAR}
        ,#{content,jdbcType=VARCHAR},#{summary,jdbcType=VARCHAR},#{cover,jdbcType=VARCHAR}
        ,#{status,jdbcType=INTEGER},#{createBy,jdbcType=BIGINT}
        ,#{createTime,jdbcType=TIMESTAMP},#{updateBy,jdbcType=BIGINT},#{updateTime,jdbcType=TIMESTAMP}
        )
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="top.dfwx.common.entity.ArticleInfo" useGeneratedKeys="true">
        insert into article_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">id,</if>
                <if test="category != null">category,</if>
                <if test="title != null">title,</if>
                <if test="content != null">content,</if>
                <if test="summary != null">summary,</if>
                <if test="cover != null">cover,</if>
                <if test="status != null">status,</if>
                <if test="createBy != null">create_by,</if>
                <if test="createTime != null">create_time,</if>
                <if test="updateBy != null">update_by,</if>
                <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">#{id,jdbcType=BIGINT},</if>
                <if test="category != null">#{category,jdbcType=INTEGER},</if>
                <if test="title != null">#{title,jdbcType=VARCHAR},</if>
                <if test="content != null">#{content,jdbcType=VARCHAR},</if>
                <if test="summary != null">#{summary,jdbcType=VARCHAR},</if>
                <if test="cover != null">#{cover,jdbcType=VARCHAR},</if>
                <if test="status != null">#{status,jdbcType=INTEGER},</if>
                <if test="createBy != null">#{createBy,jdbcType=BIGINT},</if>
                <if test="createTime != null">#{createTime,jdbcType=TIMESTAMP},</if>
                <if test="updateBy != null">#{updateBy,jdbcType=BIGINT},</if>
                <if test="updateTime != null">#{updateTime,jdbcType=TIMESTAMP},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="top.dfwx.common.entity.ArticleInfo">
        update article_info
        <set>
                <if test="category != null">
                    category = #{category,jdbcType=INTEGER},
                </if>
                <if test="title != null">
                    title = #{title,jdbcType=VARCHAR},
                </if>
                <if test="content != null">
                    content = #{content,jdbcType=VARCHAR},
                </if>
                <if test="summary != null">
                    summary = #{summary,jdbcType=VARCHAR},
                </if>
                <if test="cover != null">
                    cover = #{cover,jdbcType=VARCHAR},
                </if>
                <if test="status != null">
                    status = #{status,jdbcType=INTEGER},
                </if>
                <if test="createBy != null">
                    create_by = #{createBy,jdbcType=BIGINT},
                </if>
                <if test="createTime != null">
                    create_time = #{createTime,jdbcType=TIMESTAMP},
                </if>
                <if test="updateBy != null">
                    update_by = #{updateBy,jdbcType=BIGINT},
                </if>
                <if test="updateTime != null">
                    update_time = #{updateTime,jdbcType=TIMESTAMP},
                </if>
        </set>
        where   id = #{id,jdbcType=BIGINT} 
    </update>
    <update id="updateByPrimaryKey" parameterType="top.dfwx.common.entity.ArticleInfo">
        update article_info
        set 
            category =  #{category,jdbcType=INTEGER},
            title =  #{title,jdbcType=VARCHAR},
            content =  #{content,jdbcType=VARCHAR},
            summary =  #{summary,jdbcType=VARCHAR},
            cover =  #{cover,jdbcType=VARCHAR},
            status =  #{status,jdbcType=INTEGER},
            create_by =  #{createBy,jdbcType=BIGINT},
            create_time =  #{createTime,jdbcType=TIMESTAMP},
            update_by =  #{updateBy,jdbcType=BIGINT},
            update_time =  #{updateTime,jdbcType=TIMESTAMP}
        where   id = #{id,jdbcType=BIGINT} 
    </update>
</mapper>
