<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.dfwx.nest.mapper.UpdatesInfoMapper">

    <resultMap id="BaseResultMap" type="top.dfwx.entity.UpdatesInfo">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="type" column="type" jdbcType="TINYINT"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="deletedFlag" column="deleted_flag" jdbcType="BIT"/>
            <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,type,title,
        deleted_flag,create_by,create_time,
        update_by,update_time
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from updates_info
        where  id = #{id,jdbcType=BIGINT} 
    </select>
    <select id="selectByLimitOrderByCreateTimeDesc" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from updates_info order by create_time desc limit #{limit}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from updates_info
        where  id = #{id,jdbcType=BIGINT} 
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="top.dfwx.entity.UpdatesInfo" useGeneratedKeys="true">
        insert into updates_info
        ( id,type,title
        ,deleted_flag,create_by,create_time
        ,update_by,update_time)
        values (#{id,jdbcType=BIGINT},#{type,jdbcType=TINYINT},#{title,jdbcType=VARCHAR}
        ,#{deletedFlag,jdbcType=BIT},#{createBy,jdbcType=VARCHAR},#{createTime,jdbcType=TIMESTAMP}
        ,#{updateBy,jdbcType=VARCHAR},#{updateTime,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="top.dfwx.entity.UpdatesInfo" useGeneratedKeys="true">
        insert into updates_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">id,</if>
                <if test="type != null">type,</if>
                <if test="title != null">title,</if>
                <if test="deletedFlag != null">deleted_flag,</if>
                <if test="createBy != null">create_by,</if>
                <if test="createTime != null">create_time,</if>
                <if test="updateBy != null">update_by,</if>
                <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">#{id,jdbcType=BIGINT},</if>
                <if test="type != null">#{type,jdbcType=TINYINT},</if>
                <if test="title != null">#{title,jdbcType=VARCHAR},</if>
                <if test="deletedFlag != null">#{deletedFlag,jdbcType=BIT},</if>
                <if test="createBy != null">#{createBy,jdbcType=VARCHAR},</if>
                <if test="createTime != null">#{createTime,jdbcType=TIMESTAMP},</if>
                <if test="updateBy != null">#{updateBy,jdbcType=VARCHAR},</if>
                <if test="updateTime != null">#{updateTime,jdbcType=TIMESTAMP},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="top.dfwx.entity.UpdatesInfo">
        update updates_info
        <set>
                <if test="type != null">
                    type = #{type,jdbcType=TINYINT},
                </if>
                <if test="title != null">
                    title = #{title,jdbcType=VARCHAR},
                </if>
                <if test="deletedFlag != null">
                    deleted_flag = #{deletedFlag,jdbcType=BIT},
                </if>
                <if test="createBy != null">
                    create_by = #{createBy,jdbcType=VARCHAR},
                </if>
                <if test="createTime != null">
                    create_time = #{createTime,jdbcType=TIMESTAMP},
                </if>
                <if test="updateBy != null">
                    update_by = #{updateBy,jdbcType=VARCHAR},
                </if>
                <if test="updateTime != null">
                    update_time = #{updateTime,jdbcType=TIMESTAMP},
                </if>
        </set>
        where   id = #{id,jdbcType=BIGINT} 
    </update>
    <update id="updateByPrimaryKey" parameterType="top.dfwx.entity.UpdatesInfo">
        update updates_info
        set 
            type =  #{type,jdbcType=TINYINT},
            title =  #{title,jdbcType=VARCHAR},
            deleted_flag =  #{deletedFlag,jdbcType=BIT},
            create_by =  #{createBy,jdbcType=VARCHAR},
            create_time =  #{createTime,jdbcType=TIMESTAMP},
            update_by =  #{updateBy,jdbcType=VARCHAR},
            update_time =  #{updateTime,jdbcType=TIMESTAMP}
        where   id = #{id,jdbcType=BIGINT} 
    </update>
</mapper>
