<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fun.dfwh.admin.mapper.ArticleTagsInfoMapper">

    <resultMap id="BaseResultMap" type="fun.dfwh.common.entity.ArticleTagsInfo">
            <result property="id" column="id" jdbcType="BIGINT"/>
            <result property="articleId" column="article_id" jdbcType="BIGINT"/>
            <result property="tagsCode" column="tags_code" jdbcType="VARCHAR"/>
            <result property="deletedFlag" column="deleted_flag" jdbcType="BIT"/>
            <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,article_id,tags_code,
        deleted_flag,create_by,create_time,
        update_by,update_time
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from article_tags_info
        where id = #{id}
    </select>

    <select id="selectByArticleIds" resultMap="BaseResultMap">
        select article_id,tags_code from article_tags_info where deleted_flag = 0 and article_id in
        <foreach collection="articleIdList" item="articleId" separator="," open="(" close=")">
            #{articleId}
        </foreach>
    </select>



    <select id="selectTagsCodeByArticleId" resultType="java.lang.String">
        select tags_code from article_tags_info
        where  article_id = #{articleId} and deleted_flag = 0
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from article_tags_info
        where 
    </delete>
    <insert id="insert">
        insert into article_tags_info
        ( id,article_id,tags_code
        ,deleted_flag,create_by,create_time
        ,update_by,update_time)
        values (#{id,jdbcType=BIGINT},#{articleId,jdbcType=BIGINT},#{tagsCode,jdbcType=VARCHAR}
        ,#{deletedFlag,jdbcType=BIT},#{createBy,jdbcType=VARCHAR},#{createTime,jdbcType=TIMESTAMP}
        ,#{updateBy,jdbcType=VARCHAR},#{updateTime,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective">
        insert into article_tags_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">id,</if>
                <if test="articleId != null">article_id,</if>
                <if test="tagsCode != null">tags_code,</if>
                <if test="deletedFlag != null">deleted_flag,</if>
                <if test="createBy != null">create_by,</if>
                <if test="createTime != null">create_time,</if>
                <if test="updateBy != null">update_by,</if>
                <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">#{id,jdbcType=BIGINT},</if>
                <if test="articleId != null">#{articleId,jdbcType=BIGINT},</if>
                <if test="tagsCode != null">#{tagsCode,jdbcType=VARCHAR},</if>
                <if test="deletedFlag != null">#{deletedFlag,jdbcType=BIT},</if>
                <if test="createBy != null">#{createBy,jdbcType=VARCHAR},</if>
                <if test="createTime != null">#{createTime,jdbcType=TIMESTAMP},</if>
                <if test="updateBy != null">#{updateBy,jdbcType=VARCHAR},</if>
                <if test="updateTime != null">#{updateTime,jdbcType=TIMESTAMP},</if>
        </trim>
    </insert>

    <insert id="batchInsert">
        insert into article_tags_info
        ( id,article_id,tags_code,deleted_flag,create_by
        ,create_time,update_by,update_time
        )
        values
        <foreach collection="articleTagsInfos" item="articleTagsInfo" separator=",">
            (#{articleTagsInfo.id},#{articleTagsInfo.articleId,jdbcType=BIGINT},#{articleTagsInfo.tagsCode,jdbcType=VARCHAR},#{articleTagsInfo.deletedFlag,jdbcType=BIT},#{articleTagsInfo.createBy,jdbcType=VARCHAR}
            ,#{articleTagsInfo.createTime,jdbcType=TIMESTAMP},#{articleTagsInfo.updateBy,jdbcType=VARCHAR},#{articleTagsInfo.updateTime,jdbcType=TIMESTAMP}
            )
        </foreach>
    </insert>



    <update id="updateByPrimaryKeySelective" parameterType="fun.dfwh.common.entity.ArticleTagsInfo">
        update article_tags_info
        <set>
                <if test="id != null">
                    id = #{id,jdbcType=BIGINT},
                </if>
                <if test="articleId != null">
                    article_id = #{articleId,jdbcType=BIGINT},
                </if>
                <if test="tagsCode != null">
                    tags_code = #{tagsCode,jdbcType=VARCHAR},
                </if>
                <if test="deletedFlag != null">
                    deleted_flag = #{deletedFlag,jdbcType=BIT},
                </if>
                <if test="createBy != null">
                    create_by = #{createBy,jdbcType=VARCHAR},
                </if>
                <if test="createTime != null">
                    create_time = #{createTime,jdbcType=TIMESTAMP},
                </if>
                <if test="updateBy != null">
                    update_by = #{updateBy,jdbcType=VARCHAR},
                </if>
                <if test="updateTime != null">
                    update_time = #{updateTime,jdbcType=TIMESTAMP},
                </if>
        </set>
        where  
    </update>
    <update id="updateByPrimaryKey" parameterType="fun.dfwh.common.entity.ArticleTagsInfo">
        update article_tags_info
        set 
            id =  #{id,jdbcType=BIGINT},
            article_id =  #{articleId,jdbcType=BIGINT},
            tags_code =  #{tagsCode,jdbcType=VARCHAR},
            deleted_flag =  #{deletedFlag,jdbcType=BIT},
            create_by =  #{createBy,jdbcType=VARCHAR},
            create_time =  #{createTime,jdbcType=TIMESTAMP},
            update_by =  #{updateBy,jdbcType=VARCHAR},
            update_time =  #{updateTime,jdbcType=TIMESTAMP}
        where  
    </update>

    <update id="batchDeleted">
        update article_tags_info
        set deleted_flag = 1
        where article_id = #{articleId} and tags_code in
        <foreach collection="tagsCodes" item="tagsCode" separator="," open="(" close=")">
            #{tagsCode}
        </foreach>
    </update>


</mapper>
